/* Estilos para el navbar */
.navbar {
    background-color: #333;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-left a,
.navbar-right a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar-left a:hover,
.navbar-right a:hover {
    background-color: #ddd;
    color: black;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 5px;
}

/* Estilos responsivos */
@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-left a,
    .navbar-right a {
        display: block;
        text-align: left;
    }
}

/* Estilos para el contenido centrado */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.profile-section {
    text-align: center;
    margin-bottom: 20px;
}

.profile-section .profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.posts-section {
    align-items: center;
    width: 80%;
    max-width: 600px;
}

.post {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.post-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* Estilos para el botón de subir post */
.upload-button {
    display: inline-block;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none; /* Añadido para <a> */
    text-align: center;
}
.button-container {
    text-align: center;
}