{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publish Post - {{request.user.username}}</title>
    <link rel="stylesheet" href="{% static 'css/publishPost.css' %}">
</head>
<body>
    <div class="container">
        <h1>Publish your post!</h1>
        <form action="{% url 'publishPost' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="post_image" id="post_image">
            <textarea name="description" id="post_description" placeholder="Add a description!"></textarea>
            <input type="submit" value="Upload Post">
        </form>
        <div class="image-preview" id="imagePreview">
            <img src="#" alt="Image Preview" id="previewImg" style="display: none;">
        </div>
    </div>

    <script>
        document.getElementById('post_image').addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const previewImg = document.getElementById('previewImg');
                    previewImg.src = e.target.result;
                    previewImg.style.display = 'block';
                }
                reader.readAsDataURL(file);
            }
        });
    </script>
</body>
</html>