{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myPost - {{ request.user.username }}</title>
    <link rel="stylesheet" href="{% static 'css/mainView.css' %}">
    <link rel="stylesheet" href="{% static 'css/ownUserProfile.css' %}">
</head>
<body>

<!-- Navbar -->
<div class="navbar">
    <div class="navbar-left">
        <a href="{% url 'mainView' %}">Home</a>
    </div>
    <div class="navbar-right">
        {% if request.user.is_authenticated %}
            {% if request.user.userprofile.user_pic %}
            <a href="{% url 'ownUserProfile' %}" class="navbar-item"><img src="{{ request.user.userprofile.user_pic.url }}" alt="Profile Picture" class="profile-img"></a>
            <a href="{% url 'logOut' %}" class="navbar-item">Log out</a>
            <a href="{%url 'userSettings' %}"class='navbar-item'> Want to change something?</a>
            {% else %}
            <a href="{% url 'ownUserProfile' %}" style="color: white;" class="navbar-item">{{request.user.username}}</a>
            <a href="{% url 'logOut' %}" class="navbar-item">Log out</a>
            <a href="{%url 'userSettings' %}"class='navbar-item'> Want to change something?</a>
            {%endif%}
        {% else %}
            <a href="{% url 'loginUser' %}" class="navbar-item">Welcome, identify!</a>
            <a href="{% url 'userRegister' %}" class="navbar-item">Don't have an account yet?</a>
        {% endif %}
    </div>
</div>

<div class="content">
    <div>
        {% if request.user.userprofile.user_pic %}
        <img src="{{ request.user.userprofile.user_pic.url }}" alt="Profile Picture" class="profile-img">
        {%else%}
        <p>{{request.user.username}}</p>
        {%endif%}
        <p>{{request.user.userprofile.user_bio}}</p>
    </div>
    <!-- Posts Section -->
    <div class="posts-section">
        {% for user_posts in PostsUserData %}
            <div class="post">
                <a href="{% url 'deletePost' user_posts.id %}" class="upload-button"> Delete post</a>
                {% if request.user.userprofile.user_pic %}
                <img src="{{ request.user.userprofile.user_pic.url }}" alt="Profile Picture" class="profile-img">
                {%else%}
                <p>{{request.user.username}}</p>
                {%endif%}
                <h2>{{ request.user.username }} at: {{user_posts.created_at}}</h2>
                {% if user_posts.post_pic %}
                <img src="{{ user_posts.post_pic.url }}" alt="Post Image" class="post-img">
                <p>{{ user_posts.content }}</p>
                <p>{{ user_posts.created_at}}</p>
                {% else %}
                <p>{{ user_posts.content }}</p>
                <p>{{ user_posts.created_at}}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>

</div>

</body>
</html>